<h1>@ViewData[index:"Title"]</h1>
<form asp-action ="Enroll" method="post">
    <input type="hidden" name="studentId" value=" @ViewBag.StudentId"
/>
    <label>Select Course</label>
    <select name=" courseId" class="form-control">
        @foreach(var c in ViewBag.Courses){
            <option value="@c.Id">@c.title</option>
        }
    </select>
    <br />
    <button type="submit" class="btn btn-primary">Enroll</button>
</form>